<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd">

	<bean id="customerRepository" class="com.gnology.aop.CustomerRepositoryImpl" />
	<bean id="loggingAspect" class="com.gnology.aop.LoggingAspect" />
	<bean id="benchmarkAspect" class="com.gnology.aop.BenchmarkAspect" />
	<bean id="infoAspect" class="com.gnology.aop.InfoAspect" />

	<aop:config>
		<aop:aspect	ref="infoAspect">
			<aop:before method="getInfo" pointcut="execution(* com.gnology.aop.CustomerRepositoryImpl.add*(..))"/>
			<aop:around method="changeName" pointcut="execution(* com.gnology.aop.CustomerRepositoryImpl.add*(..))" />
		</aop:aspect>
		<aop:aspect ref="loggingAspect">
			<aop:after-returning method="warnIfNull" pointcut="execution(* com.gnology.aop.CustomerRepositoryImpl.add*(..))" returning="returVal"/>
		</aop:aspect>
	</aop:config>

</beans>
